# En este archivo voy a dejar los códigos necesario para mantener tu WordPress seguro 

# WordPress por defecto 

# BEGIN WordPress
<ifModule mode_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ – [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</ifModule>
# END WordPress

# Deshabilitar la exploración de directorios
Options -Indexes

# Proteger el archivo xmlrpc.php y su solicitud
<Files xmlrpc.php>
order deny,allow
deny from all
#allow from 123.123.123.123
</Files>

# STRONG HTACCESS PROTECTION</code>
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

#Proteger wp-config
<files wp-config.php>
order allow,deny
deny from all
</files>

# Proteger el htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

# Proteger los plugins
<Files ~ "\.(js|css)$">
  order allow,deny
  allow from all
</Files>

# Proteger de la inyección sql
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]

# Para AntiSpam: denegar el acceso a solicitudes de no referencia
RewriteEngine On
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !.*yourdomain.com.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) http://%{REMOTE_ADDR}/$ [R=301,L]

